@use "sass:map";
@use "@angular/material" as mat;

@mixin apply-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background-palette: map-get(
    $map: $color-config,
    $key: background,
  );

  app-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    
    background-color: mat.get-color-from-palette($background-palette, app-bar);
    [image] {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &[real-size] {
      background-size: containt;
    }

    &[show] {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
