@use "sass:map";
@use "@angular/material" as mat;

@mixin apply-theme($theme) {

  [preview] {
    width: 100%;
    display: flex;
    position: relative;
    padding: 2rem 1rem 1rem 1rem;
    img {
      border: 0.3rem solid
        mat.get-theme-color($theme, tertiary);
      width: 100%;
      border-radius: 1rem;
    }
  }
}
