@use "@angular/material" as mat;

app-prompt {
    transition: all 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    [grid] {
        display: grid;
        grid-template-columns: auto 2fr;
        column-gap: 0.5rem;
        [label] {
            text-align: right;
            font-weight: bold;
            font-size: 120%;
            font-variant: small-caps;
            text-transform: lowercase;
        }
        [value] {
            font-family: 'Share Tech Mono';
            button {
                @include mat.button-density(-5);
            }
        }
    }
}