<div
    content
    [routerLink]="'/g/' + data.slug"
    [ngSwitch]="data.status"
>
    <ng-template [ngSwitchCase]="statuses.GENERATED">
        <app-overlay
            [src]="data.source.thumb_src"
            [attr.show]="mode == modes.SOURCE ? '1' : null"
        ></app-overlay>
        <app-overlay
            [src]="data.image.thumb_src"
            [attr.show]="mode == modes.GENERATED ? '1' : null"
        ></app-overlay>
        <div class="spacer toggle"></div>
        <div info>
            <div>{{data.last_modified | amTimeAgo}}</div>
            <div class="spacer"></div>
            <div>
                <button
                    mat-icon-button
                    *ngIf="mode == modes.GENERATED"
                    (click)="onMode($event, modes.SOURCE)"
                >
                    <mat-icon>person</mat-icon>
                </button>
                <button
                    mat-icon-button
                    *ngIf="mode == modes.SOURCE"
                    (click)="onMode($event, modes.GENERATED)"
                >
                    <mat-icon>image</mat-icon>
                </button>
            </div>
            <div>
                <button
                    mat-icon-button
                    appConfirm
                    (confirm)="onDelete()"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="statuses.IN_PROGRESS">
        <app-overlay
            [src]="data.source.thumb_src"
            show
        ></app-overlay>
        <div class="spacer"></div>
        <app-loading>In Progress</app-loading>
        <div class="spacer"></div>
    </ng-template>
    <ng-template [ngSwitchCase]="statuses.ERROR">
        <app-overlay
            [src]="data.source.thumb_src"
            show
        ></app-overlay>
        <div class="spacer"></div>
        <div card-status>
            <div
                label
                [attr.status]="data.status"
                status-line
            >
                {{data.error || data.status}}
            </div>
        </div>
        <div class="spacer"></div>
        <div info>
            <div>{{data.last_modified | amTimeAgo}}</div>
            <div class="spacer"></div>
            <div>
                <button
                    mat-icon-button
                    appConfirm
                    (confirm)="onDelete()"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchDefault]>
        <app-overlay
            [src]="data.source.thumb_src"
            show
        ></app-overlay>
        <div class="spacer"></div>
        <div card-status>
            <div
                label
                [attr.status]="data.status"
                status-line
            >
                {{data.status}}
            </div>
        </div>
        <div class="spacer"></div>
        <div info>
            <div>{{data.last_modified | amTimeAgo}}</div>
            <div class="spacer"></div>
            <div>
                <button
                    mat-icon-button
                    appConfirm
                    (confirm)="onDelete()"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
</div>
