<form [formGroup]="form" (submit)="onSubmit($event)">
    <mat-form-field *ngIf="($options | async) as options">
        <mat-label>Model</mat-label>
        <mat-select formControlName="model">
          @for (model of options.models; track model) {
            <mat-option [value]="model">{{model}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="($options | async) as options">
        <mat-label>Template</mat-label>
        <mat-select formControlName="template">
          @for (template of options.templates; track template) {
            <mat-option [value]="template">{{template}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Prompt</mat-label>
        <textarea formControlName="prompt" matInput placeholder="generation prompt"></textarea>
      </mat-form-field>
      <div buttons>
        <button type="submit" mat-flat-button>
            <mat-icon>outbox</mat-icon>
            Submit
        </button>
      </div>
</form>
