<form [formGroup]="form" (submit)="onSubmit($event)">
      <mat-form-field *ngIf="($options | async) as options">
        <mat-label>Template</mat-label>
        <mat-select formControlName="template">
          <mat-option>-None-</mat-option>
          @for (template of options.templates | orderBy; track template) {
            <mat-option [value]="template | trim: '*'">{{template | startCase}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Prompt</mat-label>
        <textarea rows="3" formControlName="prompt" matInput placeholder="generation prompt"></textarea>
      </mat-form-field>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            More options
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field *ngIf="($options | async) as options">
          <mat-label>Model</mat-label>
          <mat-select formControlName="model">
            <mat-option>-None-</mat-option>
            @for (model of options.models | orderBy; track model) {
              <mat-option [value]="model | trim: '*'">{{model | startCase}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Negative prompt</mat-label>
          <textarea rows=3 formControlName="negative_prompt" matInput placeholder="generation negative prompt"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Guidance Scale</mat-label>
          <input type="number" min="0" formControlName="guidance_scale" matInput placeholder="amount of noise">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Inference Steps</mat-label>
          <input type="number" min="4" formControlName="num_inference_steps" matInput placeholder="generation steps">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Scale</mat-label>
          <input formControlName="scale" type="number" step="0.1" matInput placeholder="scale of the face to keep">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Clip Skip</mat-label>
          <input formControlName="clip_skip" matInput placeholder="clip skip" type="number" min="0" max="2">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Seed</mat-label>
          <input formControlName="seed" matInput placeholder="Seed" type="number" min="-1">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Width</mat-label>
          <input type="number" min="0" max="1280" formControlName="width" matInput placeholder="width of the result">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Height</mat-label>
          <input type="number" min="0" max="1280" formControlName="height" matInput placeholder="height of the result">
        </mat-form-field>
      </mat-expansion-panel>
      <div buttons>
        <button type="submit" mat-flat-button>
            <mat-icon>outbox</mat-icon>
            Submit
        </button>
        <button color="warn" mat-flat-button (click)="onClear($event)">
          <mat-icon>cancel</mat-icon>
          Clear
      </button>
      </div>
</form>
