<div
    *ngIf="($data | async) as items"
    grid
>
    <app-generated-card
        *ngFor="let item of items | orderBy: '-last_modified'"
        [@simpleFadeAnimation]="'in'"
        grid-item
        [data]="item"
        (deleted)="onDelete($event)"
    >
    </app-generated-card>
</div>
<div
    *ngIf="($data | async)?.length === 0"
    home-status
>
    <div>No History</div>
    <mat-progress-bar mode="indeterminate" color="tertiary"></mat-progress-bar>
    <div buttons>
        <button
            mat-stroked-button
            aria-label="New Photo"
            routerLink="/camera"
        >
            <mat-icon>photo_camera</mat-icon>
            Camera
        </button>
        <button
            mat-stroked-button
            aria-label="New Photo"
            routerLink="/file"
        >
            <mat-icon>upload</mat-icon>
            photo
        </button>
    </div>
</div>
