<app-loader hidden></app-loader>
<mat-toolbar *ngIf="($user | async) as user">
    <button
        mat-icon-button
        aria-label="Home"
        routerLink="/"
        color="accent"
    >
        <mat-icon>photo_library</mat-icon>
    </button>
    <button
        mat-icon-button
        routerLink="/camera"
        *ngIf="url != '/camera'"
        color="warn"
    >
        <mat-icon>photo_camera</mat-icon>
    </button>
    <button
        mat-icon-button
        routerLink="/file"
        *ngIf="url != '/file'"
        color="primary"
    >
        <mat-icon>upload</mat-icon>
    </button>
    <span class="spacer"></span>
    <button
        mat-icon-button
        mat-icon-avatar
        [matMenuTriggerFor]="usermenu"
    >
        <app-avatar [user]="user"></app-avatar>
    </button>
    <mat-menu #usermenu="matMenu">
        <button
        mat-menu-item="mat-menu-item"
    >
        <mat-icon>person</mat-icon>
        <span>{{user.displayName}}</span>
    </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item="mat-menu-item"
            (click)="logout()"
        >
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
