@if ($hasCameras | async) {
  <div >
    @if (showWebcam) {
      <webcam
        #webcam
        [trigger]="triggerObservable"
        [imageType]="'image/png'"
        [width]="width"
        (imageCapture)="handleImage($event)"
        [allowCameraSwitch]="allowCameraSwitch"
        [switchCamera]="nextWebcamObservable"
        [mirrorImage]="mirrorImage"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"
        (imageClick)="triggerSnapshot()"
        >
      </webcam>
    }
    @if (multipleWebcamsAvailable && showWebcam ) {
      <button
        switch-button
        mat-icon-button
        (click)="showNextCamera($event);"
        >
        <mat-icon>
          {{hasFaceCamera ? 'switch_camera' : 'video_call'}}
        </mat-icon>
      </button>
    }
    <div
      captured
      (click)="startCamera()"
      >
      <img [src]="this.captured?.imageAsDataUrl">
    </div>
    @for (error of errors; track error) {
      <mat-error>{{error.message}}</mat-error>
    }
    <app-options (submit)="onSubmit($event)"></app-options>
  </div>
} @else {
  <mat-error>no cameras available</mat-error>
  <button mat-icon-button (click)="reload()">
    <mat-icon>cached</mat-icon>
  </button>
}
