:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;


    // .snapshot {
    //     @media (orientation: landscape) {
    //         width: 100%;
    //         height: auto;
    //       }
        
    //       @media (orientation: portrait) {
    //         height: 100%;
    //         width: auto;
    //       }
    // }

}
