<webcam
    #webcam
    [trigger]="triggerObservable"
    [imageType]="'image/png'"
    [width]="width"
    (imageCapture)="handleImage($event)"
    *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch"
    [switchCamera]="nextWebcamObservable"
    [mirrorImage]="mirrorImage"
    [videoOptions]="videoOptions"
    [imageQuality]="1"
    (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)"
    (imageClick)="triggerSnapshot()"
>
</webcam>
<button
    switch-button
    mat-icon-button
    (click)="showNextCamera($event);"
    *ngIf="multipleWebcamsAvailable && showWebcam "
>
    <mat-icon>
        {{hasFaceCamera ? 'switch_camera' : 'video_call'}}
    </mat-icon>
</button>
<div
    captured
    (click)="startCamera()"
>
    <img [src]="this.captured?.imageAsDataUrl">
</div>
<mat-error *ngFor="let error of errors">{{error.message}}</mat-error>
<app-options (submit)="onSubmit($event)"></app-options>
