<webcam
    #webcam
    [trigger]="triggerObservable"
    [imageType]="'image/png'"
    [width]="width"
    (imageCapture)="handleImage($event)"
    *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch"
    [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions"
    [imageQuality]="1"
    (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)"
    (imageClick)="triggerSnapshot()"
>
</webcam>
<button
    switch-button
    mat-icon-button
    (click)="switchFacingMode($event);"
    *ngIf="multipleWebcamsAvailable && showWebcam"
>
    <mat-icon>cameraswitch</mat-icon>
</button>
<div captured (click)="startCamera()">
    <img [src]="this.captured?.imageAsDataUrl">
</div>
<app-options (submit)="onSubmit($event)"></app-options>
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>