<div *ngIf="user.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <div>
        <button
            mat-flat-button
            color="primary"
            (click)="logout()"
        >
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </div>
</div>
<ng-template #showLogin>
    <mat-card appearance="raised">
        <mat-card-content>
            <button
                login
                mat-icon-button
                (click)="login($event)"
                matRipple
                [matRippleCentered]="true"
                [matRippleDisabled]="false"
                [matRippleUnbounded]="false"
                aria-level="Click to login"
            >
            </button>
            <div buttons>
                <div *ngIf="errorMessage">
                    <p errors>{{ errorMessage }}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>
