@use "@angular/material" as mat;
@use "sass:map";
@use "./scss/components/generated-card" as myGeneratedCard;
@use "./scss/components/generated" as myGenerated;
@use "./scss/components/login" as myLogin;
@use "./scss/components/overlay" as myOverlay;
@use "./scss/components/preview" as myPreview;

@include mat.core();

$theme-primary: mat.define-palette(mat.$blue-grey-palette, 500);
$theme-accent: mat.define-palette(mat.$light-blue-palette, 500);
$theme-warn: mat.define-palette(mat.$red-palette, 500);
$background-palette: (
  status-bar: black,
  app-bar: darken(map.get($theme-primary, 900), 10%),
  background: black,
  hover: rgba(white, 0.04),
  card: darken(map.get($theme-primary, 800), 5%),
  dialog: map.get($theme-primary, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get($theme-primary, 800),
  selected-button: map.get($theme-primary, 900),
  selected-disabled-button: map.get($theme-primary, 800),
  disabled-button-toggle: black,
  unselected-chip: map.get($theme-primary, 700),
  disabled-list-option: rgba(white, 0.12),
  tooltip: map.get($theme-primary, 700),
);
$custom-typography: mat.define-typography-config(
  $font-family: "Anta",
);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
      background: $background-palette,
      foreground: mat.$dark-theme-foreground-palette,
    ),
    typography: $custom-typography,
    density: 0,
  )
);

@include mat.core-theme($my-theme);
@include mat.all-component-bases($my-theme);
@include mat.all-component-themes($my-theme);
@include mat.all-component-colors(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
      foreground: mat.$dark-theme-foreground-palette,
      background: $background-palette,
      is-dark: true,
    ),
  )
);
@include myGeneratedCard.apply-theme($my-theme);
@include myGenerated.apply-theme($my-theme);
@include myLogin.apply-theme($my-theme);
@include myPreview.apply-theme($my-theme);
@include myOverlay.apply-theme($my-theme);
@import "./scss/components/spacer";
@import "./scss/components/camera";
@import "./scss/components/home";
@import "./scss/components/loading";
@import "./scss/components/file";
@import "./scss/components/replay";
@import "./scss/components/prompt";
@import "./scss/components/avatar";

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
  app-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
