@use "sass:map";
@use "sass:math";
@use "@angular/material" as mat;


@function status-colors($theme) {
    $error: mat.get-theme-color($theme, error);
    $in-progress: mat.get-theme-color($theme, error, 80);
    $pending: mat.get-theme-color($theme, primary);
  
    $statuses: (
      in-progress: $in-progress,
      error: $error,
      pending: $pending,
    );
  
    @return $statuses;
  
  }