@use "sass:map";
@use "sass:math";
@use "@angular/material" as mat;


@function status-colors($theme) {
    $color-config: mat.get-color-config($theme);
    $palette: map.get($color-config, primary);
    $accent: map.get($color-config, accent);
    $warn: map.get($color-config, warn);
    $theme-orange: mat.define-palette(mat.$orange-palette, 800);
  
    $error: mat.get-color-from-palette($warn);
    $in-progress: mat.get-color-from-palette($theme-orange);
    $pending: mat.get-color-from-palette($palette);
    $response: darken(mat.get-color-from-palette($accent), 10%);
  
    $statuses: (
      in-progress: $in-progress,
      error: $error,
      pending: $pending,
    );
  
    @return $statuses;
  
  }